# PyCharm
.idea/

# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# don't commit local model weights
module_2/llm_hosting/models/

# don't commit virtual envs
module_2/.venv311/
module_2/.venv313/
.venv/

# LLM model weights
*.gguf
models/
llm_hosting/models/
module_2/llm_hosting/models/

.coverage
htmlcov/

# generated data files
applicant_data.json
tmp_applicant_data.json
llm_extend_applicant_data.jsonl

module_4/applicant_data.json
module_4/tmp_applicant_data.json
module_4/llm_extend_applicant_data.jsonl

module_4/docs/build/doctrees/

.env

*.egg-info/
