Flask>=3.0.0
beautifulsoup4==4.12.3
urllib3==2.2.2

psycopg[binary]>=3.2.0
python-dotenv==1.2.2

pika==1.3.2
boto3

pandas
numpy
matplotlib
seaborn
plotly
dash

scikit-learn
torch
transformers
accelerate
joblib

pytest
pytest-cov
pylint
nbqa
pydeps
mlflow