{% extends "base.html" %}
{% set title = "Projects" %}

{% block content %}
  <h1>Projects</h1>

  <!-- Card describing Module 1 project -->
  <div class="card">
    <h3>Module 1: Personal Website</h3>

    <p>
      This project is to help understand the fundamentals of website contructions.
      This is done by using a Flask-based personal website built using
      HTML templates, CSS styling, and Python.
    </p>

    <p>
      <strong>GitHub Link:</strong>
      <a href="https://github.com/israchowdhry/jhu_software_concepts.git"
         target="_blank" rel="noopener noreferrer">
        View Repository
      </a>
    </p>
  </div>
{% endblock %}
